# Testing the chatbot prototype logic

In [1]:
#load the module/libraries
import pandas as pd
import seaborn as sns
import os, sys

sys.path.append('../src/chatbot_prototype')

In [2]:
#load the dataset

df1 = pd.read_json(r"..\dataset\Final_report\10k_final_report.json")

df2 = pd.read_json(r'..\dataset\Final_report\10k_summary_report.json')

In [3]:
print(df1.info())
df1.head()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 0 to 14
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 15 non-null     int64
 1   Total_revenue                        15 non-null     float64
 2   Net_income                           15 non-null     float64
 3   Total_assets                         15 non-null     float64
 4   Total_liabilities                    15 non-null     float64
 5   Cash_flow_from_operating_activities  15 non-null     int64
 6   Company                              15 non-null     object
 7   Revenue_growth_(%)                   15 non-null     float64
 8   Net_income_growth_(%)                15 non-null     float64
 9   Assets_growth_(%)                    15 non-null     float64
 10  Liabilities_growth_(%)               15 non-null     float64
 11  Cash_flow_from_operating_growth_(%)  15 non-null     float64
dtypes: float64(9), int64(2), object(1)
memory usage: 1.5+ KB
None

,Year,Total_revenue,Net_income,Total_assets,Total_liabilities,Cash_flow_from_operating_activities,Company,Revenue_growth_(%),Net_income_growth_(%),Assets_growth_(%),Liabilities_growth_(%),Cash_flow_from_operating_growth_(%)
0,2024,391035.0,93736.0,364980.0,308030.0,118254,Apple,-10.476779,-14.917162,-6.962902,-4.813966,-11.243334
1,2023,383285.0,96995.0,352583.0,290437.0,110543,Apple,-1.981920,3.476786,-3.396624,-5.711457,-6.520710
2,2022,394328.0,99803.0,352755.0,302083.0,122151,Apple,2.881146,2.894995,0.048783,4.009820,10.500891
3,2021,365817.0,94680.0,351002.0,287912.0,104038,Apple,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368
4,2020,274515.0,57411.0,323888.0,258549.0,80674,Apple,-24.958381,-39.363118,-7.724742,-10.198602,-22.457179

In [4]:
print(df2.info())

df2.head()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Company                              3 non-null      object
 1   Revenue_growth_(%)                   3 non-null      float64
 2   Net_income_growth_(%)                3 non-null      float64
 3   Assets_growth_(%)                    3 non-null      float64
 4   Liabilities_growth_(%)               3 non-null      float64
 5   Cash_flow_from_operating_growth_(%)  3 non-null      float64
dtypes: float64(5), object(1)
memory usage: 168.0+ bytes
None

,Company,Revenue_growth_(%),Net_income_growth_(%),Assets_growth_(%),Liabilities_growth_(%),Cash_flow_from_operating_growth_(%)
0,Apple,-8.353242,-10.608322,-3.706486,-4.281060,-8.909740
1,Microsoft,-12.120416,-15.157741,-11.241376,-6.372999,-14.089776
2,Tesla,-10.956679,-18.985423,-5.940845,-3.787839,-10.730487

In [16]:
%run "D://Jobs//BCG GenAI//src//chatbot_prototype//chatbot_logic.py"

The Cash flow from operation activities for Apple for fiscal year 2024 is $ 118254

You can ask questions like:
- What is the total revenue?
- What is the net income?
- What is the profit margin?
- What is the debt-to-assets ratio?
- Which company had the highest revenue?
- what is the revenue growth %?
- what is the cash flow from operation activities?
- what is the sum of the total liabilities?
- what is the sum of the total assets?
- what is the sum of the total assets?
- which company had the highest net income?
- Summarize the financial performance
Enter 'back' to select a different company or fiscal year.
The Cash flow from operation activities for Apple for fiscal year 2024 is $ 118254

You can ask questions like:
- What is the total revenue?
- What is the net income?
- What is the profit margin?
- What is the debt-to-assets ratio?
- Which company had the highest revenue?
- what is the revenue growth %?
- what is the cash flow from operation activities?
- what is the sum of the total liabilities?
- what is the sum of the total assets?
- what is the sum of the total assets?
- which company had the highest net income?
- Summarize the financial performance
Enter 'back' to select a different company or fiscal year.
Goodbye!